@import "base";



// ----------- Custom classes -----------


.noselect {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    user-select: none;
}


.clearfix {
    &:after {
        content: "";
        display: block;
        height: 0 !important;
        width: 100% !important;
        clear: both;
    }
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.hr-1 {
    height: 1px;
    background-color: $colorGray2;
    border: none;
}


.hr-2 {
    @extend .hr-1;

    background-color: $colorBlue3;
}


.input-1, .select-1, .textarea-1 {
    background-color: transparent;
    border: none;
    border: 1px solid $colorGray3;
    height: $elementHeight;
    width: 100%;
    outline: none;
    padding: 0 10px;
    color: $colorGray3;
    resize: vertical;

    &:hover {
        border: 1px solid $colorGray4;
    }

    &:focus {
        border: 1px solid $colorGray5;
    }

    @include placeholder($colorGray6);
}


// regular textarea
.textarea-1 {
    height: 80px;
    padding: 10px;
}


// regular button
.button-1 {
    height: $elementHeight;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: $colorGray2;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    color: $colorGray10;
    white-space: nowrap;

    &:hover {
        background-color: $colorGray3;
        border: 1px solid $colorBlue2;
    }

    &:active {
        transform: scale(0.95);
        background-color: $colorGray4;
    }
}


// transparent background button
.button-2 {
    @extend .button-1;
    background-color: transparent;
    color: $colorGray1;
    font-size: 14px;

    &:hover {
        color: $colorBlue2;
        background-color: transparent;
    }
}


// transparent button with border
.button-3 {
    @extend .button-1;
    background-color: transparent;
    border: 1px solid $colorGray2;
    color: $colorGray2;

    &:hover {
        color: $colorBlue2;
        border: 1px solid $colorBlue2;
        background-color: transparent;
    }
}


// Link that looks like a button
.link-button {
    @extend .noselect;
    text-decoration: none;
    color: $colorGray5;
    display: inline-block;
    height: 30px;
    min-width: 40px;
    padding: 0 10px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;


    &:hover {
        background-color: $colorGray1;
    }

    &:active {
        transform: scale(0.95);
    }
}


// Label that looks like a button
.label-button {
    @extend .link-button;

    height: 35px;
    line-height: 35px;
    font-weight: bold;
    font-size: 12px;
}


// text on left with a control on right
.text-control {
    text-align: left;
    margin: 10px 0;
    clear: both;
    height: $textControlHeight;
    width: 100%;
    vertical-align: middle;

    > label {
        width: 140px;
        float: left;
        vertical-align: middle;
        height: $textControlHeight;
        line-height: $textControlHeight;
    }

    > input, > select, > textarea, > div {
        float: left;
        width: calc(100% - 140px);
        vertical-align: middle;
    }

    @media (max-width: $mediaMobileWidth1) {
        clear: none;
        height: auto;

        > label {
            display: block;
            float: none;
        }

        input, select, textarea, > div {
            float: none;
            display: block;
        }
    }
}


// text above control
.text-control-2 {
    @extend .text-control;

    clear: none;
    height: auto;

    > label {
        display: block;
        float: none;
    }

    > input, > select, > textarea, > div {
        display: block;
        float: none;
        width: 100%;
    }
}


// div with label left input right
.label-input {
    @extend .text-control;
}

.label-input-2 {
    @extend .text-control-2;
}


// as above with textarea
.label-textarea {
    @extend .text-control;

    height: 142px;

    > label {
        height: 142px;
        line-height: 142px;
    }

    textarea {
        height: 142px;
        resize: vertical;
    }
}

.label-textarea-2 {
    @extend .text-control-2;

    > label {
        height: auto;
        line-height: auto;
    }

    textarea {
        height: 144px;
        resize: vertical;
    }
}


// Label that looks like a link
.label-link {
    margin-left: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: $colorGray4;
    font-size: 12px;

    &:hover {
        color: $colorBlue2;
    }
}




// ------------- Other common stuff -------------


// Container with child that can be left, right or centered
.container {
    display: block;
    text-align: center;

    .container-inner {
        display: inline-block;
        text-align: center;
    }

    .container-inner-left {
        text-align: left;
    }

    .container-inner-right {
        text-align: right;
    }
}



// Page container
#page-container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #070517, #151238, #0f0c29);
    background-repeat: no-repeat;


    // Generic page
    .page {
        min-height: 100%;
        width: 100%;

        // header under the navbar
        .page-header {
            padding: 30px 40px 20px 40px;

            // heading
            h2 {
                font-weight: 400;
                font-size: 30px;
                height: 30px;
                line-height: 30px;
                color: $colorBlue2;
                white-space: nowrap;
                display: inline-block;
            }

            @media (max-width: $mediaMobileWidth1) {
                padding: 20px;
                text-align: center;
            }
        }


        // Page content
        .page-content {
            padding: 0 50px;

            @media (max-width: $mediaMobileWidth1) {
                padding: 0 20px;
            }
        }
    }
}



// Custom file upload button
// based on https://jsfiddle.net/gabrieleromanato/mxq9R/
// input is just hidden and over the top of a div that looks like a button
.upload-button {
    @extend .button-2;

    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    line-height: 35px;
    pointer-events: none;
    top: 1px;
    border: 1px solid $colorGray3;

    > label {
        pointer-events: none;
    }

    > input {
        position: absolute;
        width: 170px;
        height: 35px;
        left: 0;
        opacity: 0;
        overflow: hidden;
        cursor: pointer;
        font-size: 0;
        pointer-events: all;
    }
}



// Loading screen
#loading-screen {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: all;
    z-index: $zIndexLoadingScreen;

    label {
        color: $colorBlue2;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        position: absolute;
        animation: loadingScreenAnimation 1s infinite;
    }
}


@keyframes loadingScreenAnimation {
    0% { transform: translate(-50%, -50%) rotateZ(0deg) },
    25% { transform: translate(-50%, -50%) rotateZ(0deg) },
    40% { transform: translate(-50%, -50%) rotateZ(-5deg) },
    50% { transform: translate(-50%, -50%) rotateZ(5deg) },
    60% { transform: translate(-50%, -50%) rotateZ(-5deg) },
    75% { transform: translate(-50%, -50%) rotateZ(0deg) },
    100% { transform: translate(-50%, -50%) rotateZ(0deg) }
}



// Main dialog container
#dialog-container {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $zIndexDialogContainer;
    pointer-events: all;


    // Generic popup dialog
    .dialog {
        background-color: $colorGray14;
        width: 360px;
        padding: 10px;
        border: 1px solid $colorBlue3;
        display: none;

        h3 {
            display: inline-block;
            color: $colorBlue2;
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
        }

        .dialog-close-icon {
            float: right;

            @include svgicon($navbarPopupIconSize, $navbarPopupIconSize, 20px, 20px,
                url(/res/svg/icon-close.svg), url(/res/svg/icon-close-hover.svg));
        }
    }

}





// colored labels
.label-takeaway, .label-gluten-free, .label-vegetarian {
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    font-weight: bold;
    margin: 0 5px;
    display: inline-block !important;
}

.label-takeaway {
    color: $colorRed1;
}

.label-gluten-free {
    color: $colorOrange1;
}

.label-vegetarian {
    color: $colorGreen1;
}









