// Color for input placeholder attribute
// http://stackoverflow.com/a/27377850
@mixin placeholder($color, $size:"") {
    &::-webkit-input-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
        &:-moz-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
    &::-moz-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
    &:-ms-input-placeholder {
        color: $color;
        @if $size != "" {
            font-size: $size;
        }
    }
}


// SVG Icon
@mixin svgicon($width, $height, $sizeX, $sizeY, $normalSvg, $hoverSvg: none) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: $sizeX $sizeY;
    height: $height;
    width: $width;
    background-image: $normalSvg;
    display: inline-block;

    &:hover {
        @if $hoverSvg != none {
            cursor: pointer;
            background-image: $hoverSvg;
        }
    }
}




// ----------- Variables -----------



$colorGray0: #fafafa;
$colorGray1: #f4f4f4;
$colorGray2: #e3e3e3;
$colorGray3: #d9d9d9;
$colorGray4: #b9b9b9;
$colorGray5: #9d9d9d;
$colorGray6: #777777;
$colorGray7: #626262;
$colorGray8: #5f5f5f;
$colorGray9: #585858;
$colorGray10: #444444;
$colorGray11: #333333;
$colorGray12: #222222;
$colorGray13: #111111;
$colorGray14: #060606;

$colorBlue1: #1f58c6;
$colorBlue2: #5595d8;
$colorBlue3: #373748;
$colorBlue4: #000115;
$colorRed1: #ff7373;
$colorOrange1: #e8a443;
$colorGreen1: #3bcd3b;

$inputReadOnly: rgba(0, 0, 0, 0.3);


$elementHeight: 35px;
$navbarHeight: 170px;
$navbarPopupIconSize: 40px;
$loggedInNavbarHeight: 70px;
$loggedInHeaderHeight: 50px;

$zIndexTypeahead: 500;
$zIndexNavbar: 1000;
$zIndexSidebar: 2000;
$zIndexTooltip: 5000;
$zIndexDialogContainer: 7500;
$zIndexToast: 10000;
$zIndexLoadingScreen: 15000;

$mediaWidth0: 670px;
$mediaWidth1: 770px;
$mediaWidth2: 900px;
$mediaWidth3: 1000px;
$mediaWidth4: 1050px;
$mediaMobileWidth1: 490px;
$mediaMobileWidth2: 410px;




// ----------- Fonts -----------


@font-face {
    font-family: "Catamaran";
    src: url(../res/fonts/Catamaran/Catamaran-Light.ttf);
}

@font-face {
    font-family: "Catamaran";
    font-weight: bold;
    src: url(../res/fonts/Catamaran/Catamaran-Bold.ttf);
}




// ----------- Overrides -----------


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Catamaran, wingdings;
}


html {
    width: 100%;
    height: 100%;
}


body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: $colorBlue4;
}


p, label, h1, h2, h3, h4, h5, h6, li, span {
    color: $colorGray1;
    margin: 0;
    padding: 0;
    cursor: default;
    letter-spacing: 1px;
}


// TODO : 2 of these are overridden in .button-1
a, button {
    color: $colorGray6;
    font-size: 14px;
    letter-spacing: 1px;
}


p, label, li, span {
    font-size: 14px;
}


select, button {
    cursor: pointer;
    letter-spacing: 1px;
}


// remove yellow on chrome inputs
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


// removes clear button on IE 10+
input::-ms-clear {
    display: none;
}


input, textarea {
    letter-spacing: 1px;

    &:read-only {
        background-color: $inputReadOnly;
    }
}




// ----------- Custom classes -----------


.noselect {
    user-select: none;
}


.clearfix {
    &:after {
        content: "";
        display: block;
        height: 0 !important;
        width: 100% !important;
        clear: both;
    }
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.hr-1 {
    height: 1px;
    background-color: $colorGray2;
    border: none;
}

.hr-2 {
    @extend .hr-1;

    background-color: $colorBlue3;
}


.input-1, .select-1, .textarea-1 {
    background-color: transparent;
    border: none;
    border: 1px solid $colorGray1;
    height: $elementHeight;
    width: 300px;
    outline: none;
    padding: 0 10px;
    color: $colorGray3;
    resize: vertical;

    &:hover {
        border: 1px solid $colorGray2;
    }

    &:focus {
        border: 1px solid $colorGray3;
    }

    @include placeholder($colorGray3);
}


// regular textarea
.textarea-1 {
    height: 80px;
    padding: 10px;
}


// regular button
.button-1 {
    height: $elementHeight;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: $colorGray2;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    color: $colorGray10;
    white-space: nowrap;

    &:hover {
        background-color: $colorGray3;
        border: 1px solid $colorBlue2;
    }

    &:active {
        transform: scale(0.95);
        background-color: $colorGray4;
    }
}


// transparent background button
.button-2 {
    @extend .button-1;
    background-color: transparent;
    color: $colorGray1;
    font-size: 14px;

    &:hover {
        color: $colorBlue2;
        background-color: transparent;
    }
}


// transparent button with border
.button-3 {
    @extend .button-1;
    background-color: transparent;
    border: 1px solid $colorGray2;
    color: $colorGray2;

    &:hover {
        color: $colorBlue2;
        border: 1px solid $colorBlue2;
        background-color: transparent;
    }
}


// Link that looks like a button
.link-button {
    @extend .noselect;
    text-decoration: none;
    color: $colorGray5;
    display: inline-block;
    height: 30px;
    min-width: 40px;
    padding: 0 10px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;


    &:hover {
        background-color: $colorGray1;
    }

    &:active {
        transform: scale(0.95);
    }
}


// div with label left input right
.label-input {
    text-align: left;
    padding: 10px 0;
    clear: both;

    > label {
        width: 140px;
        display: inline-block;
        line-height: $elementHeight;
    }

    input, select {
        width: 300px;
    }
}


// as above with textarea
.label-textarea {
    padding: 10px 0;
    vertical-align: middle;

    > label {
        width: 140px;
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        line-height: 100%;
    }

    textarea {
        width: 300px;
        vertical-align: middle;
    }
}


// Label that looks like a link
.label-link {
    margin-left: 20px;
    text-decoration: underline;
    cursor: pointer;
    color: $colorGray4;
    font-size: 12px;

    &:hover {
        color: $colorBlue2;
    }
}




// ------------- Other common stuff -------------


#page-container {
    min-height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, #070517, #151238, #0f0c29);
    background-repeat: no-repeat;
}


// Generic page
.page {
    min-height: 100%;
    width: 100%;

    .page-content {
        padding: 0 50px;
    }

    // header under the navbar
    .page-header {
        padding: 30px 40px 20px 40px;

        // heading
        h2 {
            font-size: 40px;
            font-weight: 400;
            color: $colorBlue2;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            vertical-align: top;
            white-space: nowrap;
        }

        .page-header-controls {
            float: right;
            height: 40px;

            button {
                margin-right: 20px;
                width: 120px;

                &.active {
                    background-color: $colorBlue1;
                }
            }
        }

        @media (max-width: $mediaMobileWidth1) {
            text-align: center;

            h2 {
                font-size: 30px;
                text-align: center;
            }

            .page-header-controls {
                display: none;
            }
        }

    }
}




// Custom file upload button
// based on https://jsfiddle.net/gabrieleromanato/mxq9R/
// input is just hidden and over the top of a div that looks like a button
.upload-button {
    @extend .button-2;

    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    line-height: 35px;
    pointer-events: none;
    top: 1px;
    border: 1px solid $colorGray3;

    > label {
        pointer-events: none;
    }

    > input {
        position: absolute;
        width: 170px;
        height: 35px;
        left: 0;
        opacity: 0;
        overflow: hidden;
        cursor: pointer;
        font-size: 0;
        pointer-events: all;
    }
}



// Loading screen
#loading-screen {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    pointer-events: all;
    z-index: $zIndexLoadingScreen;

    label {
        color: $colorBlue2;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        position: absolute;
        animation: loadingScreenAnimation 1s infinite;
    }
}


@keyframes loadingScreenAnimation {
    0% { transform: translate(-50%, -50%) rotateZ(0deg) },
    25% { transform: translate(-50%, -50%) rotateZ(0deg) },
    40% { transform: translate(-50%, -50%) rotateZ(-5deg) },
    50% { transform: translate(-50%, -50%) rotateZ(5deg) },
    60% { transform: translate(-50%, -50%) rotateZ(-5deg) },
    75% { transform: translate(-50%, -50%) rotateZ(0deg) },
    100% { transform: translate(-50%, -50%) rotateZ(0deg) }
}



// Main dialog container
#dialog-container {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $zIndexDialogContainer;
    pointer-events: all;


    // Generic popup dialog
    .dialog {
        background-color: $colorGray14;
        width: 360px;
        padding: 10px;
        border: 1px solid $colorBlue3;
        display: none;

        h3 {
            display: inline-block;
            color: $colorBlue2;
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
        }

        .dialog-close-icon {
            float: right;

            @include svgicon($navbarPopupIconSize, $navbarPopupIconSize, 20px, 20px,
                url(/res/svg/icon-close.svg), url(/res/svg/icon-close-hover.svg));
        }
    }

}









