#dialog-container {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: $zIndexDialogContainer;
    pointer-events: all;

    .dialog {
        display: none;
        height: 200px;
        width: 400px;
    }
}