@import "dialogs/business-hours";
@import "dialogs/description";
@import "dialogs/reviews";


// Store content
#store-content {
    padding: 0 50px;

    @media (max-width: $mediaMobileWidth1) {
        padding: 0 10px;
    }


    // colored labels
    .label-takeaway, .label-gluten-free, .label-vegetarian {
        font-size: 12px;
        height: 15px;
        line-height: 15px;
        font-weight: bold;
        margin-right: 10px;
    }

    .label-takeaway {
        color: $colorRed1;
    }

    .label-gluten-free {
        color: $colorOrange1;
    }

    .label-vegetarian {
        color: $colorGreen1;
    }


    // Image
    .store-info-image-container {
        float: left;

        .store-info-image {
            margin-top: 18px;
            height: 240px;
            width: 340px;
        }
    }


    // Info
    #store-info {
        padding: 40px 20px 20px 20px;
        text-align: center;

        #store-info-inner {
            display: inline-block;
            text-align: left;

            // Details
            #store-info-details {
                float: right;
                width: calc(100% - 340px);
                padding: 10px 20px 0 30px;
                min-width: 500px;

                label {
                    display: inline-block;
                }

                > div {
                    margin-top: 5px;

                    label:first-of-type:not(.label-link) {
                        font-weight: bold;
                        width: 90px;
                    }
                }


                // description
                #store-info-description-container {
                    min-height: 120px;

                    #store-info-description {
                        overflow: hidden;
                        text-align: justify;
                        max-height: 92px;
                    }

                    #store-info-button-description {
                        margin-left: 5px;
                    }
                }


                // address
                #store-info-address {

                }


                // hours
                #store-info-hours-is-open {
                    color: $colorBlue2;
                    margin-right: 10px;
                    font-weight: bold;
                    font-size: 20px;
                    height: 20px;
                    line-height: 20px;
                    vertical-align: middle;
                }


                #store-info-hours-opens-at {
                    color: $colorGreen1;
                }


                // ratings
                .rating-control {
                    padding: 2px;
                    margin-left: -5px;
                }


                // contact
                #store-info-contact-controls {
                    padding-top: 5px;

                    #store-info-phone-number {
                        margin: 0 10px;
                        color: $colorBlue2;
                        min-width: 90px;
                        max-width: 130px;
                        white-space: nowrap;
                        font-weight: bold;
                    }

                    #store-info-email {
                        margin-left: 10px;
                        color: $colorBlue2;
                        min-width: 90px;
                        max-width: 250px;
                        white-space: nowrap;
                        font-weight: bold;
                    }
                }

            }
        }


        @media (max-width: $mediaWidth3) {
            #store-info-inner {
                text-align: center !important;
                height: auto;

                .store-info-image-container {
                    float: none;
                    height: auto;
                    display: block;

                    .store-info-image {
                        display: inline-block;
                        margin-top: 0 !important;
                    }
                }

                #store-info-details {
                    float: none;
                    min-width: 360px;
                    width: 80%;
                    display: inline-block;
                    text-align: left;
                    padding: 40px 0 0 10px;
                }
            }
        }


        @media (max-width: $mediaWidth1) {
            #store-info-inner {
                #store-info-details {
                    > div {
                        > label:first-of-type {
                            display: block;
                            margin-left: -5px;
                        }
                    }

                    #store-info-contact-controls {
                        > label {
                            height: 27px;
                            line-height: 27px;
                            vertical-align: inherit;
                        }
                    }
                }
            }
        }

    }


    // Menu
    #store-menu {

        // list of menu items
        #store-menu-list {
            float: left;
            height: 100%;
            width: calc(100% - 200px);


            // heading item
            .store-menu-list-item.heading {
                margin: 20px 0;

                h4 {
                    font-size: 30px;
                    line-height: 30px;
                    height: 30px;
                    color: $colorBlue2;
                }

                > hr {
                    margin-bottom: 10px;
                    background-color: $colorBlue3;
                }
            }

            .store-menu-list-item.heading:not(:first-of-type) {
                margin: 20px 0;
            }


            // normal menu item
            .store-menu-list-item {
                border: 1px solid transparent;

                > div {
                    float: left;
                    width: calc(100% - 100px);
                    padding: 5px 20px;

                    > p {
                        max-height: 46px;
                        overflow: hidden;
                    }
                }

                // add to order
                > label {
                    float: right;
                    height: 100%;
                    width: 100px;
                    color: $colorBlue2;
                    font-size: 14px;
                    display: block;
                    margin-top: 20px;
                    text-decoration: underline;
                    cursor: pointer;

                    &:hover {
                        color: $colorBlue1;
                    }
                }
            }
        }


        // category groups nav thing
        #store-menu-nav {
            float: left;
            width: 200px;

            ul {
                list-style: none;
                margin-top: 30px;

                li {
                    padding: 10px 10px 10px 50px;
                    font-weight: bold;

                    &:hover {
                        cursor: pointer;
                        color: $colorBlue2;
                    }
                }
            }
        }

    }


    // Footer
    #store-footer {
        padding: 30px 10px;
        > p {
            font-size: 10px;
        }
    }
}



