.tabcontrol {
    width: 100%;

    > .tabs {
        list-style: none;

        li {
            display: inline-block;
            width: 140px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;

            &.active {
                color: $colorBlue2;
            }

            &:hover {
                color: $colorBlue1;
            }
        }
    }

    > .tab-content {
        padding-top: 30px;

        > .tab-item {
            display: none;

            &.active {
                display: block;
            }
        }
    }


}