
// Cms store details page

#page-cms-details {
    padding-bottom: 100px;


    // Content
    #store-content {
        padding: 0 50px;


        // Store info
        #store-info {
            display: none;
        }


        // Store info edit
        #store-info-edit {

            > .container-inner {

                // Store logo
                .image-store-logo {

                    // upload button
                    .upload-button {
                        position: absolute;
                        width: 180px;
                        left: 80px;
                        top: 270px;

                        label {
                            font-size: 12px;
                        }
                    }
                }


                // Store details
                > div:last-of-type {
                    position: relative;

                    .container-inner {
                        width: 100%;

                        textarea {
                            resize: none;
                            font-size: 13px;
                        }

                        input {
                            font-size: 13px;
                        }

                        .typeahead {
                            > label {
                                width: 140px;
                            }
                        }

                        #suburb-search-list {
                            top: 45px;
                        }
                    }
                }
            }


            // Business hours
            #store-info-edit-hours {
                padding-top: 10px;

                // heading
                > div:first-of-type {
                    max-width: 600px;
                    width: 100%;
                    display: inline-block;
                    text-align: center;

                    h3 {
                        text-align: left;
                    }

                    hr {
                        margin-bottom: 20px;
                    }
                }

                // inputs
                #business-hours-container {

                    .container-inner {

                        > div {
                            float: left;
                            text-align: left;
                            margin: 0 10px;
                        }

                        p {
                            text-align: center;
                            font-weight: bold;
                            margin-bottom: 5px;
                        }

                        .hours-row {
                            padding-bottom: 2px;

                            label {
                                display: inline-block;
                            }

                            label:nth-child(1) {
                                width: 40px;
                                font-weight: bold;
                            }

                            label:nth-child(2), label:nth-child(4) {
                                width: 50px;
                            }

                            input {
                                width: 60px;
                                margin-right: 5px;
                                text-align: center;
                                font-weight: bold;
                                font-size: 14px;

                                @include placeholder($colorRed2);
                            }
                        }
                    }
                }
            }
        }
    }



    // Floating buttons on bottom of screen
    .page-cms-floating-buttons {
        .label-button {
            width: 130px;
            background-color: $colorGreen1;
            color: white;
        }
    }


    @media (max-width: $mediaWidth4) {
        #store-content {
            #store-info-edit {


                > .container-inner {
                    .image-store-logo {
                        .upload-button {
                            left: 50%;
                            top: 270px;
                            transform: translateX(-50%);

                            label {
                                font-size: 12px;
                            }
                        }
                    }

                    // Store details
                    > div:last-of-type {
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    // TODO : this is ugly
    @media (max-width: $mediaWidth1) {
        #store-content {
            #store-info-edit {
                > .container-inner {
                    > div:last-of-type {
                        > div > div {
                            clear: none;
                            height: auto;

                            > label, .typeahead-inner > label {
                                margin-top: 10px;
                                height: 27px;
                                line-height: 27px;
                                display: block;
                                width: 100%;
                                float: none;
                            }

                            > input, > select, > textarea, > div, .typeahead-inner > div {
                                display: block;
                                float: none;
                                width: 100%;
                            }

                            &.typeahead {
                                height: 65px;
                            }
                        }
                    }
                }

                #store-info-edit-hours {
                    padding: 10px 30px 20px 30px;

                    #business-hours-container {
                        > .container-inner {
                            > div {
                                float: none;
                                display: inline-block;
                            }

                            > div:last-of-type {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }


    @media (max-width: $mediaMobileWidth1) {
        #store-info-edit {
            .upload-button {
                top: 250px !important;
            }

            #store-info-edit-hours {
                padding: 10px !important;
            }
        }
    }

}