
// Cms store details page

#page-cms-details {
    padding-bottom: 100px;


    // Content
    #store-content {
        padding: 0 50px;


        // Store info
        #store-info {
            display: none;
        }


        // Store info edit
        #store-info-edit {

            > .container-inner {

                // Store logo
                .image-store-logo {

                    // upload button
                    .upload-button {
                        position: absolute;
                        width: 180px;
                        left: 80px;
                        top: 270px;

                        label {
                            font-size: 12px;
                        }
                    }
                }


                // Store details
                > div:last-of-type {
                    position: relative;
                }
            }
        }


        // Edit details form
        #store-edit-details-form {
            width: 100%;

            textarea {
                height: 142px;
                resize: none;
                font-size: 13px;
            }

            input {
                font-size: 13px;
            }

            .typeahead {
                > label {
                    width: 140px;
                }
            }

            #suburb-search-list {
                top: 45px;
            }
        }
    }



    // Floating buttons on bottom of screen
    .page-cms-floating-buttons {
        .label-button {
            width: 130px;
            background-color: $colorGreen1;
            color: white;
        }
    }


    @media (max-width: $mediaWidth4) {
        #store-content {
            #store-info-edit {


                > .container-inner {
                    .image-store-logo {
                        .upload-button {
                            left: 50%;
                            top: 250px;
                            transform: translateX(-50%);

                            label {
                                font-size: 12px;
                            }
                        }
                    }

                    // Store details
                    > div:last-of-type {
                        margin-top: 40px;
                    }
                }
            }
        }
    }


    @media (max-width: $mediaWidth1) {
        #store-content {
            #store-info-edit {
                > .container-inner {
                    #store-edit-details-form {
                        > div {
                            clear: none;
                            height: auto;

                            > label {
                                margin-top: 10px;
                                height: 27px;
                                line-height: 27px;
                                display: block;
                                width: 100%;
                                float: none;
                            }

                            > input, > select, > textarea, > div {
                                display: block;
                                float: none;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }


    @media (max-width: $mediaMobileWidth1) {
        #store-info-edit {
            .upload-button {
                top: 230px !important;
            }
        }
    }

}