
// Menu page
// store content is in another file

#page-cms-menu {


    #store-content-mobile-buttons {
        @media (max-width: $mediaMobileWidth1) {
            display: block;
        }
    }


    // preview border
    #preview-mode-border {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        border: 5px solid $colorBlue1;
        pointer-events: none;
        z-index: $zIndexToast;

        label {
            text-align: center;
            background-color: $colorBlue1;
            color: white;
            padding: 5px;
            width: 100px;
            font-size: 12px;
            font-weight: bold;
            display: inline-block;
        }
    }



    // Store content
    #store-content-editable {

        // content editable
        &:not(.edit-mode) {
            [contenteditable=true]:empty:before {
                content: attr(placeholder);
                display: block; /* For Firefox */
                color: $colorRed1;
                font-weight: bold;
            }

            [contenteditable=true] {
                cursor: text;
                font-size: 14px;
                font-weight: 400;
            }
        }



        // Upload button
        .upload-button {
            position: absolute;
            left: 85px;
            top: 260px;
            border: none;

            label {
                color: $colorRed1;
                white-space: nowrap;
            }

            @media (max-width: $mediaWidth3) {
                top: 235px;
                left: 50%;
                transform: translateX(-50%);
            }

            @media (max-width: $mediaMobileWidth1) {
                top: 210px;
            }
        }



        // Store info
        #store-info {
            text-align: center;

            #store-info-inner {
                text-align: left;
            }

            // edit address
            #store-info-edit-address {
                text-align: center;
                display: block;

                #store-info-edit-address-inner {
                    display: inline-block;
                    padding-top: 20px;
                    text-align: left;
                    width: 350px;

                    .label-input {
                        width: auto;
                    }

                    label {
                        width: 120px;
                    }

                    input {
                        width: 350px;
                        float: none;
                    }

                    .typeahead {
                        margin-top: 10px;
                    }

                    @media (max-width: $mediaMobileWidth1) {
                        width: 300px;

                        input {
                            width: 300px;
                        }
                    }
                }
            }
        }



        // Edit menu controls
        #menu-edit-controls {
            text-align: center;

            button {
                margin: 20px;
            }
        }

    }

}
