.label-takeaway, .label-gluten-free, .label-vegetarian {
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  font-weight: bold;
  margin-right: 10px; }

.label-takeaway {
  color: #ff7373; }

.label-gluten-free {
  color: #e8a443; }

.label-vegetarian {
  color: #3bcd3b; }

@font-face {
  font-family: "Catamaran";
  src: url(../res/fonts/Catamaran/Catamaran-Light.ttf); }

@font-face {
  font-family: "Catamaran";
  font-weight: bold;
  src: url(../res/fonts/Catamaran/Catamaran-Bold.ttf); }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Catamaran, wingdings; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #000115; }

p, label, h1, h2, h3, h4, h5, h6, li, span {
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  cursor: default;
  letter-spacing: 1px; }

a, button {
  color: #777777;
  font-size: 14px;
  letter-spacing: 1px; }

p, label, li, span {
  font-size: 14px; }

select, button {
  cursor: pointer;
  letter-spacing: 1px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

input::-ms-clear {
  display: none; }

input, textarea {
  letter-spacing: 1px; }
  input:read-only, textarea:read-only {
    background-color: rgba(0, 0, 0, 0.3); }

.noselect, .link-button {
  -webkit-user-select: none;
  user-select: none; }

.clearfix:after {
  content: "";
  display: block;
  height: 0 !important;
  width: 100% !important;
  clear: both; }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.p-heading {
  font-weight: bold;
  margin-top: 20px;
  font-size: 15px; }

.hr-1 {
  height: 1px;
  background-color: #e3e3e3;
  border: none; }

.input-1, .select-1, .textarea-1 {
  background-color: transparent;
  border: none;
  border: 1px solid #f4f4f4;
  height: 35px;
  width: 300px;
  outline: none;
  padding: 0 10px;
  color: #d9d9d9;
  resize: vertical; }
  .input-1:hover, .select-1:hover, .textarea-1:hover {
    border: 1px solid #e3e3e3; }
  .input-1:focus, .select-1:focus, .textarea-1:focus {
    border: 1px solid #d9d9d9; }
  .input-1::-webkit-input-placeholder, .select-1::-webkit-input-placeholder, .textarea-1::-webkit-input-placeholder {
    color: #d9d9d9; }
  .input-1:-moz-placeholder, .select-1:-moz-placeholder, .textarea-1:-moz-placeholder {
    color: #d9d9d9; }
  .input-1::-moz-placeholder, .select-1::-moz-placeholder, .textarea-1::-moz-placeholder {
    color: #d9d9d9; }
  .input-1:-ms-input-placeholder, .select-1:-ms-input-placeholder, .textarea-1:-ms-input-placeholder {
    color: #d9d9d9; }

.textarea-1 {
  height: 80px;
  padding: 10px; }

.button-1, .button-2, div.upload, .button-3 {
  height: 35px;
  padding: 0 10px;
  border: none;
  outline: none;
  background-color: #e3e3e3;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid transparent;
  color: #444444; }
  .button-1:hover, .button-2:hover, div.upload:hover, .button-3:hover {
    background-color: #d9d9d9;
    border: 1px solid #5595d8; }
  .button-1:active, .button-2:active, div.upload:active, .button-3:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    background-color: #b9b9b9; }

.button-2, div.upload {
  background-color: transparent;
  color: #f4f4f4;
  font-size: 14px; }
  .button-2:hover, div.upload:hover {
    color: #5595d8;
    background-color: transparent; }

.button-3 {
  background-color: transparent;
  border: 1px solid #e3e3e3;
  color: #e3e3e3; }
  .button-3:hover {
    color: #5595d8;
    border: 1px solid #5595d8;
    background-color: transparent; }

.link-button {
  text-decoration: none;
  color: #9d9d9d;
  display: inline-block;
  height: 30px;
  min-width: 40px;
  padding: 0 10px;
  line-height: 30px;
  text-align: center;
  cursor: pointer; }
  .link-button:hover {
    background-color: #f4f4f4; }
  .link-button:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

.label-input {
  width: 450px;
  text-align: left;
  padding: 10px 0;
  clear: both; }
  .label-input > label {
    width: 140px;
    display: inline-block;
    line-height: 35px; }
  .label-input input, .label-input select {
    float: right; }

.label-textarea {
  width: 450px;
  text-align: right;
  padding: 10px 0;
  vertical-align: middle; }
  .label-textarea > label {
    width: 140px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    height: 100%;
    line-height: 100%; }
  .label-textarea textarea {
    width: 300px;
    text-align: left;
    vertical-align: middle; }

.label-input, .label-textarea, .typeahead {
  position: relative; }
  .label-input.isrequired:before, .label-textarea.isrequired:before, .typeahead.isrequired:before {
    content: "*";
    color: red;
    right: -15px;
    font-size: 20px;
    position: absolute; }

.input-button {
  display: inline-block;
  white-space: nowrap; }
  .input-button input {
    display: inline-block;
    height: 30px;
    width: 200px;
    margin: 0;
    border: none;
    background-color: transparent;
    vertical-align: top; }
    .input-button input::-webkit-input-placeholder {
      color: #b9b9b9; }
    .input-button input:-moz-placeholder {
      color: #b9b9b9; }
    .input-button input::-moz-placeholder {
      color: #b9b9b9; }
    .input-button input:-ms-input-placeholder {
      color: #b9b9b9; }
  .input-button button {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    height: 30px;
    width: 30px;
    background-image: url(svg/icon-search.svg);
    display: inline-block; }

.label-link {
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: #b9b9b9;
  font-size: 12px; }
  .label-link:hover {
    color: #5595d8; }

.form-layout-1 > div, .form-layout-2 > div, .form-layout-3 > div {
  height: 50px; }
  .form-layout-1 > div label, .form-layout-2 > div label, .form-layout-3 > div label {
    height: 50px;
    line-height: 50px; }
  .form-layout-1 > div input, .form-layout-2 > div input, .form-layout-3 > div input {
    margin-top: 5px; }
  .form-layout-1 > div label, .form-layout-2 > div label, .form-layout-3 > div label, .form-layout-1 > div input, .form-layout-2 > div input, .form-layout-3 > div input {
    display: inline-block; }
  .form-layout-1 > div label:first-child, .form-layout-2 > div label:first-child, .form-layout-3 > div label:first-child {
    width: 120px; }
  .form-layout-1 > div:last-of-type, .form-layout-2 > div:last-of-type, .form-layout-3 > div:last-of-type {
    margin-top: 10px; }
  .form-layout-1 > div button, .form-layout-2 > div button, .form-layout-3 > div button {
    width: 100px; }

.form-layout-2 > div label:first-child {
  width: 170px; }

.form-layout-3 > div label:first-child {
  width: 200px; }

.table-1 {
  width: 100%;
  background-color: blue; }
  .table-1 .table-head {
    background-color: yellow; }
    .table-1 .table-head > div {
      float: left;
      height: 30px;
      line-height: 30px; }
  .table-1 .table-body {
    background-color: purple; }

#page-container {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #070517, #151238, #0f0c29);
  background-repeat: no-repeat; }

.page {
  min-height: 100%;
  width: 100%; }

#loading-screen {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: all;
  z-index: 15000; }
  #loading-screen label {
    position: relative;
    color: white; }

#dialog-container {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 7500;
  pointer-events: all; }
  #dialog-container .dialog {
    background-color: #060606;
    width: 360px;
    padding: 10px;
    border: 1px solid #373748;
    display: none; }
    #dialog-container .dialog h3 {
      display: inline-block;
      color: #5595d8;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px; }
    #dialog-container .dialog .dialog-close-icon {
      float: right;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      height: 40px;
      width: 40px;
      background-image: url(/res/svg/icon-close.svg);
      display: inline-block; }
      #dialog-container .dialog .dialog-close-icon:hover {
        cursor: pointer;
        background-image: url(/res/svg/icon-close-hover.svg); }

div.upload {
  text-align: center;
  position: relative !important;
  display: inline-block !important;
  border-radius: 3px !important;
  line-height: 35px !important;
  pointer-events: none;
  top: 1px;
  border: 1px solid #d9d9d9; }
  div.upload > label {
    pointer-events: none; }

div.upload input {
  position: absolute !important;
  width: 170px !important;
  height: 35px !important;
  left: 0 !important;
  opacity: 0 !important;
  overflow: hidden !important;
  cursor: pointer !important;
  font-size: 0 !important;
  pointer-events: all; }

.checkbox-1 > input, .checkbox-2 > input {
  display: none;
  margin: -1px;
  padding: 0;
  border: 0;
  cursor: pointer; }
  .checkbox-1 > input:checked + label, .checkbox-2 > input:checked + label {
    background-position: 0 -20px; }

.checkbox-1 > label, .checkbox-2 > label {
  display: inline-block;
  padding-left: 30px;
  height: 20px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  background-image: url(/res/images/checkbox1.png);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap; }

.checkbox-2 {
  display: inline-block; }
  .checkbox-2 > input:checked + label {
    background-position: 195px -20px; }
  .checkbox-2 > label {
    font-size: 24px;
    padding-left: 0;
    padding-right: 50px;
    background-position: 195px 0; }

.navbar {
  white-space: nowrap;
  width: 100%;
  padding: 30px 50px 10px 50px;
  z-index: 1000;
  position: relative;
  text-align: left; }
  .navbar .navbar-heading {
    display: inline-block; }
    .navbar .navbar-heading .navbar-icon {
      vertical-align: top;
      margin-left: -20px; }
  .navbar a {
    color: #fafafa;
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold; }
    .navbar a.active:after {
      content: "";
      width: 100%;
      height: 3px;
      background-color: #5595d8;
      display: block; }
  .navbar .navbar-links {
    float: right;
    overflow: hidden;
    height: 30px; }
  .navbar .navbar-links-popup {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    margin-bottom: 10px;
    background-color: #111111;
    z-index: 100;
    text-align: right;
    border-left: 1px solid #373748;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .navbar .navbar-links-popup .navbar-links-popup-close {
      position: absolute;
      top: 20px;
      right: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      height: 40px;
      width: 40px;
      background-image: url(/res/svg/icon-close.svg);
      display: inline-block; }
      .navbar .navbar-links-popup .navbar-links-popup-close:hover {
        cursor: pointer;
        background-image: url(/res/svg/icon-close-hover.svg); }
    .navbar .navbar-links-popup a {
      display: block;
      background-color: #111111;
      padding: 0 20px;
      height: 48px;
      line-height: 48px; }
      .navbar .navbar-links-popup a.active:after {
        margin-top: -5px; }
      .navbar .navbar-links-popup a:active {
        background-color: #333333; }
      .navbar .navbar-links-popup a:hover {
        background-color: #222222; }
    .navbar .navbar-links-popup a:first-of-type {
      margin-top: 70px; }
  .navbar .navbar-links-popup-button {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: #111111;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10% 25%;
    border: 1px solid #373748;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    height: 40px;
    width: 40px;
    background-image: url(/res/svg/icon-navbar.svg);
    display: inline-block;
    display: none; }
    .navbar .navbar-links-popup-button:hover {
      cursor: pointer;
      background-image: url(/res/svg/icon-navbar-active.svg); }
    .navbar .navbar-links-popup-button:active {
      background-color: #333333; }
    .navbar .navbar-links-popup-button:hover {
      background-color: #333333; }
  @media (max-width: 490px) {
    .navbar {
      height: auto;
      text-align: left;
      position: relative; }
      .navbar .navbar-links {
        display: none; }
      .navbar .navbar-links-popup-button {
        display: block; } }

.rating-control {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
  cursor: pointer;
  height: 25px; }
  .rating-control li {
    display: inline-block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    height: 20px;
    width: 20px;
    background-image: url(../../res/svg/icon-star.svg);
    display: inline-block; }
    .rating-control li:hover {
      cursor: pointer;
      background-image: url(../../res/svg/icon-star-hover.svg); }
    .rating-control li.small {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 12px;
      height: 15px;
      width: 15px;
      background-image: url(../../res/svg/icon-star.svg);
      display: inline-block; }
      .rating-control li.small:hover {
        cursor: pointer;
        background-image: url(../../res/svg/icon-star-hover.svg); }
    .rating-control li.active {
      background-image: url(../../res/svg/icon-star-active.svg); }
      .rating-control li.active:hover {
        background-image: url(../../res/svg/icon-star-hover.svg); }
  .rating-control.inactive {
    cursor: default; }
    .rating-control.inactive li {
      pointer-events: none; }
      .rating-control.inactive li.active {
        cursor: default; }
  .rating-control.user li {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    height: 15px;
    width: 15px;
    background-image: url(../../res/svg/icon-star.svg);
    display: inline-block; }
    .rating-control.user li:hover {
      cursor: pointer;
      background-image: url(../../res/svg/icon-star-hover.svg); }
    .rating-control.user li.active {
      background-image: url(../../res/svg/icon-star-active.svg); }
      .rating-control.user li.active:hover {
        background-image: url(../../res/svg/icon-star-hover.svg); }

.rating-control-static {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 25px;
  padding: 0 5px; }
  .rating-control-static > div {
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;
    height: 25px;
    width: 15px;
    background-image: url(../res/svg/icon-star.svg);
    display: inline-block; }
    .rating-control-static > div.active {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px 12px;
      height: 25px;
      width: 15px;
      background-image: url(../res/svg/icon-star-active.svg);
      display: inline-block; }
  .rating-control-static > label {
    padding: 0 5px;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
    pointer-events: none; }

#store-content, #store-content-editable {
  padding: 0 50px; }
  #store-content #store-info, #store-content-editable #store-info {
    padding: 40px 20px; }
    #store-content #store-info #store-info-inner, #store-content-editable #store-info #store-info-inner {
      height: 240px; }
      #store-content #store-info #store-info-inner #store-info-image, #store-content-editable #store-info #store-info-inner #store-info-image {
        height: 240px;
        width: 340px;
        float: left; }
      #store-content #store-info #store-info-inner #store-info-details, #store-content-editable #store-info #store-info-inner #store-info-details {
        float: right;
        width: calc(100% - 340px);
        padding: 10px 20px 0 30px;
        min-width: 500px; }
        #store-content #store-info #store-info-inner #store-info-details label, #store-content-editable #store-info #store-info-inner #store-info-details label {
          display: inline-block; }
        #store-content #store-info #store-info-inner #store-info-details > div label:first-of-type:not(.label-link), #store-content-editable #store-info #store-info-inner #store-info-details > div label:first-of-type:not(.label-link) {
          font-weight: bold;
          width: 90px; }
        #store-content #store-info #store-info-inner #store-info-details #store-info-description-container, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-description-container {
          min-height: 120px; }
          #store-content #store-info #store-info-inner #store-info-details #store-info-description-container #store-info-description, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-description-container #store-info-description {
            overflow: hidden;
            text-align: justify;
            max-height: 92px; }
          #store-content #store-info #store-info-inner #store-info-details #store-info-description-container #store-info-button-description, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-description-container #store-info-button-description {
            margin-left: 5px; }
        #store-content #store-info #store-info-inner #store-info-details #store-info-hours-is-open, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-hours-is-open {
          color: #5595d8;
          margin-right: 10px;
          font-weight: bold;
          font-size: 20px;
          height: 20px;
          line-height: 20px;
          vertical-align: middle; }
        #store-content #store-info #store-info-inner #store-info-details #store-info-hours-opens-at, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-hours-opens-at {
          color: #ff7373; }
        #store-content #store-info #store-info-inner #store-info-details .rating-control, #store-content-editable #store-info #store-info-inner #store-info-details .rating-control {
          padding: 2px;
          margin-right: 10px; }
        #store-content #store-info #store-info-inner #store-info-details #store-info-phone-number, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-phone-number {
          margin: 0 10px;
          color: #5595d8; }
        #store-content #store-info #store-info-inner #store-info-details #store-info-email, #store-content-editable #store-info #store-info-inner #store-info-details #store-info-email {
          margin-left: 10px;
          color: #5595d8; }
  #store-content #store-menu #store-menu-list, #store-content-editable #store-menu #store-menu-list {
    float: left;
    height: 100%;
    width: calc(100% - 200px); }
    #store-content #store-menu #store-menu-list .store-menu-list-item.heading, #store-content-editable #store-menu #store-menu-list .store-menu-list-item.heading {
      margin: 20px 0; }
      #store-content #store-menu #store-menu-list .store-menu-list-item.heading h4, #store-content-editable #store-menu #store-menu-list .store-menu-list-item.heading h4 {
        font-size: 30px;
        line-height: 30px;
        height: 30px;
        color: #5595d8; }
      #store-content #store-menu #store-menu-list .store-menu-list-item.heading > hr, #store-content-editable #store-menu #store-menu-list .store-menu-list-item.heading > hr {
        margin-bottom: 10px;
        background-color: #373748; }
    #store-content #store-menu #store-menu-list .store-menu-list-item.heading:not(:first-of-type), #store-content-editable #store-menu #store-menu-list .store-menu-list-item.heading:not(:first-of-type) {
      margin: 20px 0; }
    #store-content #store-menu #store-menu-list .store-menu-list-item > div, #store-content-editable #store-menu #store-menu-list .store-menu-list-item > div {
      float: left;
      width: calc(100% - 100px);
      padding: 5px 20px; }
      #store-content #store-menu #store-menu-list .store-menu-list-item > div > p, #store-content-editable #store-menu #store-menu-list .store-menu-list-item > div > p {
        max-height: 46px;
        overflow: hidden; }
    #store-content #store-menu #store-menu-list .store-menu-list-item > label, #store-content-editable #store-menu #store-menu-list .store-menu-list-item > label {
      float: right;
      height: 100%;
      width: 100px;
      color: #5595d8;
      font-size: 14px;
      display: block;
      margin-top: 20px;
      text-decoration: underline;
      cursor: pointer; }
      #store-content #store-menu #store-menu-list .store-menu-list-item > label:hover, #store-content-editable #store-menu #store-menu-list .store-menu-list-item > label:hover {
        color: #1f58c6; }
  #store-content #store-menu #store-menu-nav, #store-content-editable #store-menu #store-menu-nav {
    float: left;
    width: 200px; }
    #store-content #store-menu #store-menu-nav ul, #store-content-editable #store-menu #store-menu-nav ul {
      list-style: none;
      margin-top: 30px; }
      #store-content #store-menu #store-menu-nav ul li, #store-content-editable #store-menu #store-menu-nav ul li {
        padding: 10px 10px 10px 50px;
        font-weight: bold; }
        #store-content #store-menu #store-menu-nav ul li:hover, #store-content-editable #store-menu #store-menu-nav ul li:hover {
          cursor: pointer;
          color: #5595d8; }
  #store-content #store-footer, #store-content-editable #store-footer {
    padding: 30px 10px; }
    #store-content #store-footer > p, #store-content-editable #store-footer > p {
      font-size: 10px; }

.tabcontrol {
  width: 100%; }
  .tabcontrol > .tabs {
    list-style: none; }
    .tabcontrol > .tabs li {
      display: inline-block;
      width: 140px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      font-weight: bold;
      cursor: pointer; }
      .tabcontrol > .tabs li.active {
        color: #5595d8; }
      .tabcontrol > .tabs li:hover {
        color: #1f58c6; }
  .tabcontrol > .tab-content {
    padding-top: 30px; }
    .tabcontrol > .tab-content > .tab-item {
      display: none; }
      .tabcontrol > .tab-content > .tab-item.active {
        display: block; }

#toasts {
  position: fixed;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  display: none;
  z-index: 10000; }
  #toasts p {
    position: relative;
    border-radius: 2px;
    background-color: #3e75ff;
    min-width: 100px;
    padding: 10px 20px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    color: #e3e3e3;
    white-space: nowrap;
    opacity: 0;
    margin-bottom: 10px;
    bottom: -50px; }

.typeahead {
  display: inline-block;
  position: relative; }
  .typeahead label {
    width: 80px;
    display: inline-block;
    line-height: 25px;
    height: 25px; }
  .typeahead input {
    width: 300px; }
  .typeahead .typeahead-list {
    display: none;
    position: absolute;
    width: 300px;
    list-style: none;
    right: 0;
    top: 35px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    background-color: #222222;
    z-index: 500; }
    .typeahead .typeahead-list .typeahead-item {
      height: 40px;
      line-height: 40px;
      padding-left: 20px;
      cursor: pointer;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      .typeahead .typeahead-list .typeahead-item.active {
        background-color: #060606; }
      .typeahead .typeahead-list .typeahead-item:hover {
        background-color: #060606; }
      .typeahead .typeahead-list .typeahead-item label, .typeahead .typeahead-list .typeahead-item span {
        height: 40px;
        line-height: 40px;
        pointer-events: none;
        vertical-align: top; }
      .typeahead .typeahead-list .typeahead-item label:first-of-type {
        width: 34px; }
      .typeahead .typeahead-list .typeahead-item span {
        padding: 0 7px; }
  @media (max-width: 490px) {
    .typeahead .typeahead-list {
      width: 210px;
      top: auto; }
      .typeahead .typeahead-list .typeahead-item {
        font-size: 13px;
        padding-left: 12px; } }

#dialog-store-hours.dialog {
  height: 340px;
  width: auto; }
  #dialog-store-hours.dialog h3 {
    margin-bottom: 10px;
    padding-top: 3px; }
  #dialog-store-hours.dialog div:not(#dialog-store-hours-close) {
    width: 100%;
    white-space: nowrap; }
  #dialog-store-hours.dialog label {
    width: 180px;
    text-align: center;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    display: inline-block; }
  #dialog-store-hours.dialog #dialog-store-hours-left, #dialog-store-hours.dialog #dialog-store-hours-right {
    float: left;
    width: 180px;
    list-style: none;
    padding: 5px 14px;
    display: inline-block; }
    #dialog-store-hours.dialog #dialog-store-hours-left li, #dialog-store-hours.dialog #dialog-store-hours-right li {
      padding: 5px; }
      #dialog-store-hours.dialog #dialog-store-hours-left li span, #dialog-store-hours.dialog #dialog-store-hours-right li span {
        width: 40px;
        font-weight: bold;
        display: inline-block; }

#dialog-store-checkout {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #060606; }

#dialog-store-description.dialog {
  height: auto; }
  #dialog-store-description.dialog h3:first-of-type {
    color: #f4f4f4; }
  #dialog-store-description.dialog > div:last-of-type {
    padding: 10px;
    color: #f4f4f4; }
    #dialog-store-description.dialog > div:last-of-type p {
      text-align: justify; }

#dialog-store-reviews.dialog {
  width: auto;
  height: 500px;
  max-height: 70%;
  overflow: hidden; }
  #dialog-store-reviews.dialog #dialog-store-reviews-header {
    height: 40px; }
    #dialog-store-reviews.dialog #dialog-store-reviews-header > div:first-of-type {
      height: 40px;
      display: inline-block; }
      #dialog-store-reviews.dialog #dialog-store-reviews-header > div:first-of-type h3 {
        display: inline-block;
        margin-right: 20px;
        color: #5595d8; }
      #dialog-store-reviews.dialog #dialog-store-reviews-header > div:first-of-type .rating-control {
        height: 26px; }
      #dialog-store-reviews.dialog #dialog-store-reviews-header > div:first-of-type label {
        margin-left: 10px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        vertical-align: middle; }
    #dialog-store-reviews.dialog #dialog-store-reviews-header > div:last-of-type {
      height: 40px;
      float: right;
      vertical-align: top; }
      #dialog-store-reviews.dialog #dialog-store-reviews-header > div:last-of-type > label {
        height: 40px;
        line-height: 40px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        color: #5595d8;
        margin-right: 20px; }
        #dialog-store-reviews.dialog #dialog-store-reviews-header > div:last-of-type > label:hover {
          color: #1f58c6; }
    #dialog-store-reviews.dialog #dialog-store-reviews-header #dialog-store-reviews-close {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      height: 40px;
      width: 40px;
      background-image: url(/res/svg/icon-close.svg);
      display: inline-block; }
      #dialog-store-reviews.dialog #dialog-store-reviews-header #dialog-store-reviews-close:hover {
        cursor: pointer;
        background-image: url(/res/svg/icon-close-hover.svg); }
  #dialog-store-reviews.dialog .hr-1 {
    background-color: #373748;
    padding: 0 20px; }
  #dialog-store-reviews.dialog #dialog-store-reviews-list {
    height: calc(100% - 50px);
    overflow-y: scroll;
    width: 600px;
    margin-top: 10px; }
    #dialog-store-reviews.dialog #dialog-store-reviews-list .store-reviews-list-item {
      padding: 10px 20px;
      width: 100%; }
      #dialog-store-reviews.dialog #dialog-store-reviews-list .store-reviews-list-item .store-reviews-list-item-header .rating-control {
        margin-right: 20px; }
      #dialog-store-reviews.dialog #dialog-store-reviews-list .store-reviews-list-item .store-reviews-list-item-header label {
        font-weight: bold; }

#page-home {
  position: relative; }
  @media (max-width: 700px) {
    #page-home {
      padding-top: 0; } }
  #page-home #page-home-content {
    display: block;
    text-align: center; }
    #page-home #page-home-content #home-suburb-search {
      margin-top: 60px;
      text-align: left;
      width: 380px; }
      @media (max-width: 490px) {
        #page-home #page-home-content #home-suburb-search {
          width: 290px; }
          #page-home #page-home-content #home-suburb-search input {
            width: 210px; } }

.store-list-item {
  width: 300px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  border: 1px solid transparent;
  cursor: pointer; }
  .store-list-item:hover {
    border: 1px solid #5595d8; }
  .store-list-item .store-list-item-image {
    position: relative;
    height: 180px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px; }
    .store-list-item .store-list-item-image .store-list-item-title {
      display: inline-block;
      max-width: 300px;
      width: auto;
      overflow: hidden;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.9);
      height: 34px; }
      .store-list-item .store-list-item-image .store-list-item-title label {
        max-width: calc(300px - 2px);
        color: white;
        font-size: 17px;
        display: inline-block;
        padding: 3px 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        pointer-events: none; }
  .store-list-item .store-list-item-text {
    padding: 0 10px;
    height: 22px; }
    .store-list-item .store-list-item-text.title {
      height: 26px; }
    .store-list-item .store-list-item-text label {
      height: 22px;
      line-height: 22px;
      font-size: 14px;
      display: inline-block;
      vertical-align: top;
      pointer-events: none;
      letter-spacing: 1px; }
    .store-list-item .store-list-item-text label:last-of-type {
      float: right; }
    .store-list-item .store-list-item-text .store-list-item-text-open, .store-list-item .store-list-item-text .store-list-item-text-suburb {
      font-size: 18px;
      font-weight: bold; }
    .store-list-item .store-list-item-text .store-list-item-text-open.active {
      color: #5595d8; }
  .store-list-item > p {
    white-space: normal;
    word-wrap: normal;
    word-break: keep-all;
    width: 100%;
    padding: 0px 10px 0 10px;
    pointer-events: none;
    letter-spacing: 1px;
    font-style: oblique; }

#page-location {
  text-align: center;
  position: relative; }
  @media (max-width: 700px) {
    #page-location {
      padding-top: 0; } }
  #page-location br {
    height: 0; }
  #page-location #location-header {
    text-align: left;
    white-space: nowrap;
    width: 100%;
    padding: 20px 100px; }
    #page-location #location-header #location-header-heading {
      display: inline-block;
      width: calc(100% - 390px);
      overflow: hidden; }
      #page-location #location-header #location-header-heading h2 {
        display: inline-block;
        font-weight: 400;
        font-size: 35px;
        height: 50px;
        line-height: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top; }
        @media (max-width: 1130px) {
          #page-location #location-header #location-header-heading h2 {
            font-size: 30px; } }
        @media (max-width: 930px) {
          #page-location #location-header #location-header-heading h2 {
            font-size: 26px; } }
    #page-location #location-header #location-header-location {
      margin-left: 10px;
      color: #5595d8;
      padding-right: 10px; }
    #page-location #location-header #location-suburb-search {
      white-space: nowrap;
      float: right;
      margin-top: 8px;
      width: 380px; }
      #page-location #location-header #location-suburb-search > input {
        color: white; }
    #page-location #location-header.suburb-next-line {
      text-align: center;
      display: inline-block;
      width: auto;
      padding: 20px 0; }
      #page-location #location-header.suburb-next-line #location-header-heading {
        display: block;
        width: auto; }
        #page-location #location-header.suburb-next-line #location-header-heading #location-header-location {
          height: 50px;
          line-height: 50px; }
          @media (max-width: 930px) {
            #page-location #location-header.suburb-next-line #location-header-heading #location-header-location {
              white-space: normal;
              word-break: keep-all;
              line-height: auto;
              height: auto; } }
      #page-location #location-header.suburb-next-line #location-suburb-search {
        margin-top: 15px;
        float: none;
        text-align: left; }
    #page-location #location-header.heading-next-line {
      padding-top: 0; }
      #page-location #location-header.heading-next-line #location-header-heading h2 {
        display: block; }
  #page-location #location-store-filter {
    text-align: left;
    white-space: nowrap;
    width: 100%;
    padding: 20px 250px; }
    #page-location #location-store-filter > div {
      width: 33%;
      text-align: center;
      white-space: nowrap; }
    #page-location #location-store-filter #pickup-locations {
      padding-left: 0; }
    #page-location #location-store-filter #delivery-locations > input:checked + label {
      background-position: 210px -20px; }
    #page-location #location-store-filter #delivery-locations label {
      background-position: 210px 0; }
    #page-location #location-store-filter div:last-of-type {
      display: inline-block; }
      #page-location #location-store-filter div:last-of-type label {
        padding-right: 20px;
        font-size: 24px; }
      #page-location #location-store-filter div:last-of-type select {
        width: 120px;
        color: white;
        margin-top: -2px; }
        #page-location #location-store-filter div:last-of-type select option {
          color: black; }
    @media (max-width: 1330px) {
      #page-location #location-store-filter {
        padding: 20px 150px; } }
    @media (max-width: 1130px) {
      #page-location #location-store-filter {
        padding: 20px 50px; } }
    @media (max-width: 930px) {
      #page-location #location-store-filter {
        display: inline-block;
        width: auto; }
        #page-location #location-store-filter > div {
          display: block;
          width: auto;
          text-align: left; }
        #page-location #location-store-filter > div:not(:first-of-type) {
          margin-top: 20px; }
        #page-location #location-store-filter div:last-of-type {
          margin-top: 15px; }
        #page-location #location-store-filter #pickup-locations > input:checked + label {
          background-position: 210px -20px; }
        #page-location #location-store-filter #pickup-locations > label {
          background-position: 210px 0; } }
  #page-location #location-store-list {
    max-width: 80%;
    width: 100%;
    display: inline-block;
    text-align: left; }
    #page-location #location-store-list .row-heading-container {
      margin-top: 40px;
      position: relative; }
      #page-location #location-store-list .row-heading-container h3 {
        font-weight: 400;
        padding-left: 10px;
        height: 26px;
        font-size: 26px;
        line-height: 26px; }
      #page-location #location-store-list .row-heading-container .row-heading-label {
        position: absolute;
        bottom: 0;
        right: 10px;
        height: 15px;
        font-size: 15px;
        line-height: 15px; }
    #page-location #location-store-list hr {
      border: none;
      height: 2px;
      background-color: #373748;
      margin: 5px -15px 10px -15px; }
    #page-location #location-store-list .category-stores-row {
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      position: relative;
      padding-bottom: 15px;
      height: 345px; }
      #page-location #location-store-list .category-stores-row .category-stores-row-inner {
        overflow-x: scroll;
        height: 375px; }
    @media (max-width: 930px) {
      #page-location #location-store-list {
        max-width: 90%; } }
    @media (max-width: 700px) {
      #page-location #location-store-list {
        max-width: 95%; } }
  @media (max-width: 490px) {
    #page-location #location-header #location-suburb-search {
      float: none;
      width: 290px;
      margin-top: 0; }
      #page-location #location-header #location-suburb-search input {
        width: 210px; }
    #page-location #location-store-filter {
      padding: 20px 0; } }

.page-auth {
  overflow: hidden;
  height: 100%;
  background-image: url(/res/images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .page-auth h2 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap; }
  .page-auth button[type="submit"] {
    width: 100%;
    margin-top: 20px; }
  .page-auth .button-1, .page-auth .button-2, .page-auth div.upload, .page-auth .button-3 {
    margin-top: 10px; }
  .page-auth .button-2, .page-auth div.upload {
    margin-top: 20px;
    vertical-align: top;
    display: block;
    width: 100%; }
  .page-auth .label-input {
    width: auto;
    text-align: left; }
    .page-auth .label-input label {
      font-size: 16px;
      display: block;
      float: none; }
    .page-auth .label-input input {
      width: 300px;
      background-color: #d9d9d9;
      color: #444444;
      font-weight: bold;
      float: none; }
      .page-auth .label-input input::-webkit-input-placeholder {
        color: #5f5f5f; }
      .page-auth .label-input input:-moz-placeholder {
        color: #5f5f5f; }
      .page-auth .label-input input::-moz-placeholder {
        color: #5f5f5f; }
      .page-auth .label-input input:-ms-input-placeholder {
        color: #5f5f5f; }
  .page-auth .label-textarea {
    width: auto;
    text-align: left; }
    .page-auth .label-textarea label {
      float: none;
      display: block;
      width: auto;
      margin-right: 0;
      font-size: 16px;
      height: 35px;
      line-height: 35px; }
    .page-auth .label-textarea textarea {
      background-color: #e3e3e3;
      color: #111111; }
      .page-auth .label-textarea textarea::-webkit-input-placeholder {
        color: #5f5f5f; }
      .page-auth .label-textarea textarea:-moz-placeholder {
        color: #5f5f5f; }
      .page-auth .label-textarea textarea::-moz-placeholder {
        color: #5f5f5f; }
      .page-auth .label-textarea textarea:-ms-input-placeholder {
        color: #5f5f5f; }
  .page-auth .form-label-or {
    display: block;
    white-space: nowrap;
    margin: 20px 0; }
    .page-auth .form-label-or:before, .page-auth .form-label-or:after {
      content: "";
      width: 100px;
      height: 1px;
      margin: 5px 20px;
      background-color: #626262;
      display: inline-block; }
  .page-auth form, .page-auth #registration-success-container, .page-auth #store-application-success-container {
    z-index: 100;
    padding: 10px 50px;
    background: linear-gradient(to bottom, #151b26, #212328);
    border: 1px solid #585858;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute; }
  .page-auth .form-container-outer {
    transition: left 0.2s, opacity 0.2s;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .page-auth .form-container-outer .form-container-inner {
      z-index: 90;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .page-auth .form-container-outer .form-container-inner:first-of-type {
        left: -10px;
        top: -10px;
        transition: left 0.5s, top 0.5s;
        background-color: rgba(43, 53, 74, 0.5);
        border: 1px solid #585858; }
      .page-auth .form-container-outer .form-container-inner:last-of-type {
        left: 20px;
        top: 20px;
        background: linear-gradient(to bottom, rgba(36, 47, 65, 0.7), rgba(35, 51, 93, 0.7));
        transition: left 0.5s, top 0.5s;
        border: 1px solid #585858; }
  .page-auth #page-login-form-container {
    min-height: 800px;
    width: 100%;
    position: relative;
    padding-top: 20px; }
    .page-auth #page-login-form-container #form-login-container {
      z-index: 100; }
      .page-auth #page-login-form-container #form-login-container .button-2, .page-auth #page-login-form-container #form-login-container div.upload {
        margin-top: 10px; }
      .page-auth #page-login-form-container #form-login-container #login-goto-register {
        margin-top: 10px; }
      .page-auth #page-login-form-container #form-login-container.hidden {
        left: 10%;
        opacity: 0;
        pointer-events: none; }
        .page-auth #page-login-form-container #form-login-container.hidden .form-container-inner {
          left: 0px; }
    .page-auth #page-login-form-container #form-store-login-container .button-2, .page-auth #page-login-form-container #form-store-login-container div.upload {
      margin-top: 10px; }
    .page-auth #page-login-form-container #form-store-login-container #login-store-goto-login {
      margin-top: 10px; }
    .page-auth #page-login-form-container #form-store-login-container.hidden {
      left: 10%;
      opacity: 0;
      pointer-events: none; }
      .page-auth #page-login-form-container #form-store-login-container.hidden .form-container-inner {
        left: 20px; }
    .page-auth #page-login-form-container #form-register-container .checkbox-1, .page-auth #page-login-form-container #form-register-container .checkbox-2 {
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 300px; }
      .page-auth #page-login-form-container #form-register-container .checkbox-1 a, .page-auth #page-login-form-container #form-register-container .checkbox-2 a {
        color: #5595d8; }
      .page-auth #page-login-form-container #form-register-container .checkbox-1 label, .page-auth #page-login-form-container #form-register-container .checkbox-2 label {
        white-space: normal; }
    .page-auth #page-login-form-container #form-register-container.hidden, .page-auth #page-login-form-container #form-register-container.hidden-other {
      left: 90%;
      opacity: 0;
      pointer-events: none; }
      .page-auth #page-login-form-container #form-register-container.hidden .form-container-inner, .page-auth #page-login-form-container #form-register-container.hidden-other .form-container-inner {
        left: 20px;
        top: 20px; }
    .page-auth #page-login-form-container #form-register-container.hidden-other {
      left: 10%; }
    .page-auth #page-login-form-container #form-store-application-container .checkbox {
      text-align: right;
      margin-top: 10px;
      margin-bottom: 10px; }
    .page-auth #page-login-form-container #form-store-application-container .button-2, .page-auth #page-login-form-container #form-store-application-container div.upload {
      margin-top: 10px; }
    .page-auth #page-login-form-container #form-store-application-container > p {
      padding-bottom: 10px;
      max-width: 450px; }
      .page-auth #page-login-form-container #form-store-application-container > p span {
        font-weight: bold;
        color: #5595d8; }
    .page-auth #page-login-form-container #form-store-application-container textarea {
      height: 100px;
      resize: none; }
    .page-auth #page-login-form-container #form-store-application-container.hidden, .page-auth #page-login-form-container #form-store-application-container.hidden-other {
      left: 90%;
      opacity: 0;
      pointer-events: none; }
      .page-auth #page-login-form-container #form-store-application-container.hidden .form-container-inner, .page-auth #page-login-form-container #form-store-application-container.hidden-other .form-container-inner {
        top: -20px; }
    .page-auth #page-login-form-container #form-store-application-container.hidden-other {
      left: 10%; }
    .page-auth #page-login-form-container #form-forgot-password-container .button-2, .page-auth #page-login-form-container #form-forgot-password-container div.upload {
      margin-top: 10px; }
    .page-auth #page-login-form-container #form-forgot-password-container .label-input {
      width: auto; }
      .page-auth #page-login-form-container #form-forgot-password-container .label-input label {
        width: 85px; }
    .page-auth #page-login-form-container #form-forgot-password-container.hidden {
      left: 10%;
      opacity: 0;
      pointer-events: none; }
      .page-auth #page-login-form-container #form-forgot-password-container.hidden .form-container-inner {
        left: -20px;
        top: 20px; }
    .page-auth #page-login-form-container #registration-success-container, .page-auth #page-login-form-container #store-application-success-container {
      text-align: center; }
      .page-auth #page-login-form-container #registration-success-container p, .page-auth #page-login-form-container #store-application-success-container p {
        margin-top: 10px; }
      .page-auth #page-login-form-container #registration-success-container #registration-success-email, .page-auth #page-login-form-container #registration-success-container #store-application-success-email, .page-auth #page-login-form-container #store-application-success-container #registration-success-email, .page-auth #page-login-form-container #store-application-success-container #store-application-success-email {
        color: #5595d8; }
      .page-auth #page-login-form-container #registration-success-container button, .page-auth #page-login-form-container #store-application-success-container button {
        font-size: 12px;
        display: inline-block;
        margin-bottom: 10px; }
        .page-auth #page-login-form-container #registration-success-container button:hover, .page-auth #page-login-form-container #store-application-success-container button:hover {
          color: #1f58c6; }
      .page-auth #page-login-form-container #registration-success-container.hidden, .page-auth #page-login-form-container #store-application-success-container.hidden {
        left: 90%;
        opacity: 0;
        pointer-events: none; }
        .page-auth #page-login-form-container #registration-success-container.hidden .form-container-inner, .page-auth #page-login-form-container #store-application-success-container.hidden .form-container-inner {
          left: -20px;
          top: 20px; }
  @media (max-width: 490px) {
    .page-auth h2 {
      padding-bottom: 0; }
    .page-auth #page-login-form-container form, .page-auth #page-login-form-container #registration-success-container {
      padding: 10px 10px; } }

#page-store {
  position: relative; }
  #page-store #store-header {
    padding: 40px 40px; }
    #page-store #store-header #store-header-h1 {
      display: inline-block;
      font-weight: 400;
      font-size: 30px;
      height: 30px;
      line-height: 30px; }
      #page-store #store-header #store-header-h1 span {
        font-size: 30px;
        color: #5595d8; }
    #page-store #store-header > div {
      width: auto;
      float: right; }
      #page-store #store-header > div label {
        width: auto;
        margin-right: 10px; }
  #page-store #store-footer-links {
    padding: 40px 40px; }
    #page-store #store-footer-links #store-footer-links-container {
      text-align: right; }
      #page-store #store-footer-links #store-footer-links-container > a {
        text-decoration: none;
        font-weight: bold;
        margin: 2px 5px;
        color: #e3e3e3;
        font-size: 12px; }
        #page-store #store-footer-links #store-footer-links-container > a:hover {
          color: #5595d8; }

#page-verify-account #form-verify-account {
  transition: left 0.2s, opacity 0.2s; }
  #page-verify-account #form-verify-account label {
    text-align: right; }
  #page-verify-account #form-verify-account button {
    float: right; }
  #page-verify-account #form-verify-account.hidden {
    left: 10%;
    opacity: 0;
    pointer-events: none; }

#page-verify-account #verify-account-success {
  text-align: center;
  transition: left 0.2s, opacity 0.2s; }
  #page-verify-account #verify-account-success button {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px; }
    #page-verify-account #verify-account-success button:hover {
      color: #1f58c6; }
  #page-verify-account #verify-account-success.hidden {
    left: 90%;
    opacity: 0;
    pointer-events: none; }

#navbar-site {
  height: 170px; }
  #navbar-site .navbar-heading .navbar-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 240px 120px;
    height: 120px;
    width: 240px;
    background-image: url(/res/images/ck-logo.png);
    display: inline-block; }
  @media (max-width: 770px) {
    #navbar-site {
      text-align: center; }
      #navbar-site .navbar-heading .navbar-icon {
        margin-left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 180px 90px;
        height: 90px;
        width: 180px;
        background-image: url(/res/images/ck-logo.png);
        display: inline-block; }
      #navbar-site .navbar-links {
        float: none;
        margin-top: 10px;
        height: 30px; } }
  @media (max-width: 490px) {
    #navbar-site .navbar-heading .navbar-icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 180px 90px;
      height: 90px;
      width: 180px;
      background-image: url(/res/images/ck-logo.png);
      display: inline-block; } }
