<!DOCTYPE html>
<html>

    <head>
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <meta http-equiv="Content-Security-Policy" content="default-src * 'unsafe-inline' 'unsafe-eval'">

        <link rel="icon" href="/res/favicon.ico">

        <!-- css -->
        <link rel="stylesheet" href="/lib/normalize.css" />

        <? if (typeof isCordova != 'undefined' && isCordova) { ?>
            <title>menuthing</title>
            <link rel="stylesheet" href="/generated/logged-in.css" />
            <link rel="stylesheet" href="/generated/logged-out.css" />
        <? } else { ?>
            <title><%- title %></title>
            <link rel="stylesheet" href="/generated/<%- style %>.css" />
        <? } ?>
    </head>


    <body>

        <!-- Page container -->
        <div id="page-container"></div>


        <!-- Dialogs -->
        <div id="dialog-container" style="display: none;"></div>


        <!-- Toasts -->
        <div id="toasts" style="display: none;"></div>


        <!-- Loading screen -->
        <div id="loading-screen" style="display: none;">
            <div id="loading-icon" class="center">
                <label>Loading</label>
            </div>
        </div>


        <!-- js -->
        <script src="/lib/jquery-3.0.js"></script>
<!--        <script src="/lib/moment.min.js"></script>-->
        <script src="/lib/validate.min.js"></script>
        <script src="/lib/jquery.loadTemplate.min.js"></script>
        <script src="/lib/jquery.dotdotdot.min.js"></script>

        <? if (typeof isCordova != 'undefined' && isCordova) { ?>
            <script src="/cordova.js"></script>
            <script src="/js/cordova/index.js"></script>
            <script src="/js/cordova/storage.js"></script>
            <script src="/generated/logged-in.js"></script>
            <script src="/generated/logged-out.js"></script>
        <? } else { ?>
            <script src="/generated/<%- script %>.js"></script>
        <? } ?>

        <input id="is-cordova" type="hidden" value="<?- isCordova ?>" />
    </body>
</html>


