// Toast message
#toasts {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    text-align: center;
    display: none;
    z-index: $zIndexToast;

    p {
        position: relative;
        border-radius: 2px;
        background-color: $colorBlue5;
        min-width: 100px;
        padding: 10px 20px;
        border: 1px solid $colorGray2;
        color: $colorGray2;
        opacity: 0;
        margin-bottom: 10px;
        bottom: -50px;
        font-size: 14px;
        font-weight: bold;

        &.success {
            background-color: $colorGreen2;
        }

        &.error {
            background-color: $colorRed1;
        }
    }
}