@import "shared/common";
@import "shared/checkbox";
@import "shared/navbar";
@import "shared/rating-control";
@import "shared/store-content";
@import "shared/toasts";
@import "shared/typeahead";
@import "cms/business";
@import "cms/dashboard";
@import "cms/delivery-suburbs";
@import "cms/menu";
@import "cms/navbar-cms";
@import "cms/orders";
@import "cms/settings";
@import "cms/transactions";



// make page stay 100% height
#page-container {
    height: 100%;


    // header on each page, under the navbar
    .page-cms-header {
        padding: 30px 40px 20px 40px;

        // heading
        .cms-page-heading {
            font-size: 40px;
            font-weight: 400;
            color: $colorBlue2;
            display: inline-block;
            height: 40px;
            line-height: 40px;
            vertical-align: top;
        }

        .page-cms-header-controls {
            float: right;
            height: 40px;

            button {
                margin-right: 20px;
                width: 120px;

                &.active {
                    background-color: $colorBlue1;
                }
            }
        }

        @media (max-width: $mediaMobileWidth1) {
            text-align: center;

            .page-cms-header-controls {
                display: none;
            }
        }

    }

}





