@import "shared/common";
@import "shared/checkbox";
@import "shared/navbar";
@import "shared/rating-control";
@import "shared/store-content";
@import "shared/toasts";
@import "shared/typeahead";
@import "cms/business";
@import "cms/dashboard";
@import "cms/delivery-suburbs";
@import "cms/details";
@import "cms/menu";
@import "cms/navbar-cms";
@import "cms/orders";
@import "cms/transactions";


body {
    overflow-y: scroll;
}


// make page stay 100% height
#page-container {
    height: 100%;

    .page {
        .page-header {
            @media (max-width: $mediaMobileWidth1) {
                padding: 20px;
            }
        }
    }


    // Floating buttons on bottom of page
    .page-cms-floating-buttons {
        position: fixed;
        padding-top: 20px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #0d0c1a;
        border-top: 1px solid $colorBlue3;
        text-align: center;
        white-space: nowrap;

        .label-button, button {
            margin: 0 20px;
            width: 130px;
        }
    }

}





