@import "shared/common";
@import "controls/checkbox";
@import "controls/category-scroller";
@import "controls/rating-control";
@import "controls/toasts";
@import "controls/typeahead";
@import "shared/navbar";
@import "shared/store-content";
@import "dialogs/add-to-order";
@import "dialogs/business-hours";
@import "dialogs/description";
@import "dialogs/reviews";
@import "cms/business";
@import "cms/dashboard";
@import "cms/delivery-suburbs";
@import "cms/details";
@import "cms/menu";
@import "cms/navbar-cms";
@import "cms/orders";
@import "cms/transactions";



// make page stay 100% height
#page-container {
    height: 100%;

    .page {
        .page-header {
            @media (max-width: $mediaMobileWidth1) {
                padding: 20px;
            }
        }
    }


    // Floating buttons on bottom of page
    .page-cms-floating-buttons {
        position: fixed;
        padding-top: 20px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 80px;
        background-color: #0d0c1a;
        border-top: 1px solid $colorBlue3;
        text-align: center;
        z-index: $zIndexFloatingButtons;
        backface-visibility: hidden;

        .label-button, button {
            margin: 0 20px;
            width: 130px;
        }

        > div {
            white-space: nowrap;
            display: inline-block;
        }

        @media (max-width: $mediaWidth1) {
            &.double-height {
                height: 120px;

                .label-button {
                    margin-right: 23px; // TODO: because of label-button border looks like
                }

                > div {
                    display: block;

                    &:first-of-type {
                        padding-bottom: 10px;
                    }
                }
            }
        }

        @media (max-width: $mediaMobileWidth1) {
            text-align: center;
        }
    }


    // preview border
    #preview-mode-border {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        border: 5px solid $colorBlue1;
        pointer-events: none;
        z-index: $zIndexToast;
        backface-visibility: hidden;

        label {
            text-align: center;
            background-color: $colorBlue1;
            color: white;
            padding: 5px;
            width: 100px;
            font-size: 12px;
            font-weight: bold;
            display: inline-block;
        }
    }

}





