@import "shared/common";
@import "shared/checkbox";
@import "shared/navbar";
@import "shared/rating-control";
@import "shared/store-content";
@import "shared/toasts";
@import "shared/typeahead";
@import "dialogs/add-to-order";
@import "dialogs/business-hours";
@import "dialogs/checkout";
@import "dialogs/description";
@import "dialogs/reviews";
@import "site/about";
@import "site/account";
@import "site/help";
@import "site/home";
@import "site/home-store-list-item";
@import "site/location";
@import "site/login";
@import "site/navbar-site";
@import "site/store";
@import "site/verify-account";


.page {
    .page-header {
        h2 {
            font-size: 30px;
            height: 30px;
            line-height: 30px;
        }
    }

    .page-content {
        padding-top: 30px;
    }
}
