
@import "shared/common";
@import "sysadmin/create-store";
@import "sysadmin/database";
@import "sysadmin/edit-store";
@import "shared/checkbox";
@import "shared/tabcontrol";


#page-sysadmin {


    .tabcontrol {
        padding: 50px;
    }

    h3 {
        margin-top: 40px;
    }

    .button-1 {
        margin-left: 20px;
        margin-top: 20px;
        width: 150px;
    }

    #form-create-store {
        img {
            height: 200px;
            width: 200px;
            margin-left: 20px;
        }
    }

}


