
@import "shared/common";
@import "sysadmin/create-store";
@import "sysadmin/database";
@import "sysadmin/edit-store";
@import "shared/checkbox";
@import "shared/tabcontrol";
@import "shared/typeahead";


#page-container {
    text-align: center;
    padding-top: 30px;

    h3 {
        margin-top: 40px;
        font-size: 20px;
    }

    .button-1 {
        margin-left: 20px;
        margin-top: 20px;
        width: 150px;
    }

    .label-textarea {
        text-align: left;

        label {
            text-align: left;
            width: 145px;
            margin-right: 5px;
        }
    }

    .typeahead {
        margin-top: 10px;
        text-align: left;

        > label {
            width: 145px;
        }
    }

    #navbar-sysadmin {
        text-align: center;
        margin: 20px;

        a {
            color: $colorBlue2;
            margin: 10px;
        }
    }
}


