
// Main app container
#sysadmin-tab-create-store {
    text-align: center;

    h3 {
        margin-top: 40px;
        font-size: 20px;
    }

    .button-1 {
        margin-left: 150px;
        margin-bottom: 10px;
        width: 150px;
    }


    .label-textarea {
        text-align: left;

        label {
            text-align: left;
            width: 145px;
            margin-right: 0;
        }
    }


    // Create store form
    #form-create-store {
        width: auto;
        display: inline-block;
        text-align: left;


        // Store logo
        #store-logo-container {
            position: relative;


            // image
            #store-logo {
                height: 240px;
                width: 340px;
                margin-left: 20px;
                background-color: $colorGray13;
                display: inline-block;
            }


            // store logo loading thing
            #store-logo-loading {
                top: 0;
                left: 20px;
                position: absolute;
                height: 240px;
                width: 340px;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                text-align: center;
                display: none;

                label {
                    height: 200px;
                    line-height: 200px;
                    width: 200px;
                    vertical-align: middle;
                }
            }


            // TODO : fix up
            // upload button container
            #upload-container {
                float: right;

                .upload {
                    margin-left: 15px;
                    margin-bottom: 0;
                    margin-top: 80px;
                    margin-right: 30px;
                    top: auto;
                }

                > p {
                    margin-left: 15px;
                    margin-top: 5px;
                }
            }
        }


        // Business hours
        #business-hours-container {
            > div {
                float: left;
                width: 50%;
            }

            p {
                font-weight: bold;
                margin-bottom: 5px;
            }

            .hours-row {
                label {
                    display: inline-block;
                }

                label:nth-child(1) {
                    width: 40px;
                }

                label:nth-child(2), label:nth-child(3) {

                }

                input {
                    width: 60px;
                    padding-left: 5px;
                    margin-right: 5px;
                }
            }
        }



        #create-store-button {
            float: right;
            margin-top: 10px;
        }

    }



}