

// Create store form
#form-create-store {
    width: 500px;
    display: inline-block;
    text-align: left;
    padding-bottom: 30px;


    // Store logo
    #store-logo-container {
        position: relative;
        width: 600px;
        margin-left: -50px;

        // image
        #store-logo {
            height: 240px;
            width: 340px;
            margin-left: 20px;
            display: inline-block;
            border: 1px solid $colorGray4;
        }


        // store logo loading thing
        #store-logo-loading {
            top: 0;
            left: 20px;
            position: absolute;
            height: 240px;
            width: 340px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            text-align: center;
            display: none;

            label {
                height: 200px;
                line-height: 200px;
                width: 200px;
                vertical-align: middle;
            }
        }


        // TODO : fix up
        // upload button container
        #upload-container {
            float: right;

            .upload {
                margin-left: 15px;
                margin-bottom: 0;
                margin-top: 80px;
                margin-right: 30px;
                top: auto;
            }

            > p {
                margin-left: 15px;
                margin-top: 5px;
            }
        }
    }


    // Business hours
    #business-hours-container {

    }



    #create-store-button {
        float: right;
        margin-top: 20px;
    }

}