
// location page
#page-location {
    text-align: center;
    position: relative;


    // Location header
    #location-header {
        text-align: left;
        padding: 20px 100px;

        h2 {
            display: inline-block;
            font-weight: 400;
            font-size: 35px;
        }

        #location-header-location {
            margin-left: 10px;
            color: $colorBlue2;
        }
    }



    // Filters
    #location-store-filter {
        text-align: left;
        white-space: nowrap;
        width: 100%;
        padding: 20px 250px;

        > div {
            width: 33%;
            text-align: center;
            white-space: nowrap;
        }


        // pickup checkbox
        #pickup-locations {
            padding-left: 0;
        }


        // delivery checkbox
        #delivery-locations {
            > input {
                &:checked {
                    &+ label {
                        background-position: 210px -20px;
                    }
                }
            }

            label {
                background-position: 210px 0;
            }
        }


        // select
        div:last-of-type {
            display: inline-block;

            label {
                padding-right: 20px;
                font-size: 24px;
            }

            select {
                width: 120px;
                color: white;
                margin-top: -2px;

                option {
                    color: black;
                }
            }
        }

        @media (max-width: 1330px) {
            padding: 20px 150px;
        }

        @media (max-width: $mediaWidth4) {
            padding: 20px 50px;
        }

        @media (max-width: $mediaWidth2) {
            display: inline-block;
            width: auto;

            > div {
                display: block;
                width: auto;
                text-align: left;
            }

            > div:not(:first-of-type) {
                margin-top: 20px;
            }

            div:last-of-type {
                margin-top: 15px;
            }

            #pickup-locations {
                > input {
                    &:checked {
                        &+ label {
                            background-position: 210px -20px;
                        }
                    }
                }

                > label {
                    background-position: 210px 0;
                }
            }
        }
    }



    // store list
    #location-store-list {
        max-width: 80%;
        width: 100%;
        display: inline-block;
        text-align: left;


        // row heading
        .row-heading-container {
            margin-top: 40px;
            position: relative;

            h3 {
                font-weight: 400;
                padding-left: 10px;
                height: 26px;
                font-size: 28px;
                line-height: 26px;
                color: $colorBlue2;
            }

            .row-heading-label {
                position: absolute;
                bottom: 0;
                right: 10px;
                height: 15px;
                font-size: 15px;
                line-height: 15px;
            }
        }


        hr {
            margin-bottom: 10px;
        }



        // stores row
        .category-stores-row {
            white-space: nowrap;
            overflow: hidden;
            text-align: left;
            position: relative;
            padding-bottom: 15px;
            height: 345px;

            .category-stores-row-inner {
                overflow-x: scroll;
                height: 375px;
            }

            // list items are in another file
        }
    }



    // Scroll blurs
    .scroll-blur-left, .scroll-blur-right {
        top: 0;
        bottom: auto;
        height: 300px;
        width: 30px;
        z-index: 100;
    }

    .scroll-blur-left {
        background: linear-gradient(to right, rgba(32, 88, 193, 0.65), rgba(0, 0, 0, 0));
        margin-left: -15px;
    }

    .scroll-blur-right {
        background: linear-gradient(to left, rgba(32, 88, 193, 0.65), rgba(0, 0, 0, 0));
        margin-right: -15px;
    }




    @media (max-width: $mediaWidth4) {
        // smaller heading
        #location-header {
            h2 {
                font-size: 26px;
            }
        }
    }



    @media (max-width: $mediaWidth2) {
        // suburb next line and centered
        #location-header {
            text-align: center;
            padding: 20px 0;

            h2 {
                font-size: 26px;
            }

            #location-header-location {
                display: block !important;
                margin-left: 0 !important;
                height: 30px;
                line-height: 30px;
            }
        }

        #location-store-list {
            max-width: 90%;
        }
    }



    @media (max-width: $mediaWidth1) {
        padding-top: 0;

        #location-store-list {
            max-width: 95%;
        }
    }



    @media (max-width: $mediaMobileWidth1) {
        #location-store-filter {
            padding: 0;
        }
    }

}