// Navbar on logged out pages
#navbar-site {
    height: $navbarHeight;

    // Navbar icon
    .navbar-heading {
        .navbar-icon {
            @include svgicon(240px, 120px, 240px, 120px,
                url(/res/images/ck-logo.png));
        }
    }


    .typeahead-2 {
        position: absolute;
        top: 80px;
        right: 60px;
    }


    // bit bigger than mobile, like tablet size
    @media (max-width: $mediaWidth2) {
        text-align: center;
        height: $navbarHeight2;

        .navbar-heading {
            .navbar-icon {
                margin-left: 0;

                @include svgicon(180px, 90px, 180px, 90px,
                    url(/res/images/ck-logo.png));
            }
        }

        .navbar-links {
            float: none;
            margin-top: 10px;
            height: 30px;
        }

        .typeahead-2 {
            margin-top: 30px;
            float: none;
            width: auto;
            display: block;
            text-align: center;
            position: relative;
            top: auto;
            right: auto;

            > div {
                display: inline-block;
                width: 100%;
                max-width: 500px;
            }
        }
    }


    @media (max-width: $mediaWidth0) {
        height: $navbarHeight3;
    }


    // mobile
    @media (max-width: $mediaMobileWidth1) {
        text-align: left;
//        height: $navbarHeight2;

        .navbar-heading {
            .navbar-icon {
                @include svgicon(120px, 60px, 120px, 60px,
                    url(/res/images/ck-logo.png));
            }
        }
    }

}