
$storeCheckoutHeaderHeight: 60px;


// Store page
#page-store {
    position: relative;

    // Header
    #store-header {
        padding: 40px 40px 0 40px;

        #store-header-h1 {
            display: inline-block;
            font-weight: 400;
            font-size: 30px;
            height: 34px;
            line-height: 34px;

            span {
                font-size: 30px;
                color: $colorBlue2;
                height: 34px;
                line-height: 34px;
            }
        }

        @media (max-width: $mediaWidth4) {
            text-align: center;

            #store-header-h1 {
                font-size: 34px;

                span {
                    display: block;
                    padding-top: 10px;
                    font-size: 34px;
                }
            }
        }
    }


    // store content is in another file


    // Footer links
    #store-footer-links {
        padding: 40px 40px;

        #store-footer-links-container {
            text-align: right;

            > a {
                text-decoration: none;
                font-weight: bold;
                margin: 2px 5px;
                color: $colorGray2;
                font-size: 12px;

                &:hover {
                    color: $colorBlue2;
                }
            }
        }
    }



    // Checkout popup
    #store-checkout {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: $zIndexNavbar;
        padding: 0 50px;
        background-color: purple;


        // resize bar
        #store-checkout-resize {
            position: absolute;
            height: 15px;
            width: 100%;
            cursor: ns-resize;
            z-index: 10;
            top: 0;
            left: 0;
            background-color: darkcyan;
        }


        // header
        #store-checkout-header {
            height: $storeCheckoutHeaderHeight;
            background-color: darkgreen;
            position: relative;

            h4 {
                height: $storeCheckoutHeaderHeight;
                line-height: $storeCheckoutHeaderHeight;
                display: inline-block;
                margin-left: 30px;
                color: $colorBlue2;
            }

            label {
                margin-left: 30px;
                height: $storeCheckoutHeaderHeight;
                line-height: $storeCheckoutHeaderHeight;
            }

            > div {
                float: right;
                margin-right: 30px;

                button {
                    margin-top: 13px;
                    width: 100px;
                }
            }
        }


        // content
        #store-checkout-content {
            height: 400px;
            background-color: darkred;

            #store-checkout-content-header{
                height: 30px;
                line-height: 30px;
                background-color: darkgray;
                overflow-y: scroll;
            }

            #store-checkout-content-table {
                overflow-y: scroll;
                overflow-x: hidden;
                height: calc(100% - 30px);
                width: 100%;

                .store-checkout-item {

                }
            }

            // Table header and items
            .store-checkout-item, #store-checkout-content-header {
                width: 100%;
                background-color: blue;
                white-space: nowrap;

                > div {
                    float: left;
                    white-space: normal;
                    background-color: lime;
                }

                > label {
                    font-size: 20px;
                    text-align: center;
                }

                div:nth-child(1) {
                    width: calc((100% - 300px) / 3);
                    background-color: yellow;
                }

                div:nth-child(2) {
                    width: calc((100% - 300px) / 3);
                    background-color: darkgreen;
                }

                div:nth-child(3) {
                    width: 100px;
                    background-color: chocolate;
                }

                div:nth-child(4) {
                    width: 100px;
                    background-color: blueviolet;
                }

                div:nth-child(5) {
                    width: calc((100% - 300px) / 3);
                    background-color: pink;
                }

                div:nth-child(6) {
                    width: 100px;
                    background-color: cyan;
                    float: right;
                }
            }
        }


        &.collapsed {
            height: 65px;
        }
    }




}
