

// Store page
#page-store {
    position: relative;

    // Header
    #store-header {
        padding: 40px 40px;

        #store-header-h1 {
            display: inline-block;
            font-weight: 400;
            font-size: 30px;
            height: 30px;
            line-height: 30px;

            span {
                font-size: 30px;
                color: $colorBlue2;
            }
        }

        .typeahead {
            width: auto;
            float: right;
            padding-top: 0;

            label {
                width: auto;
                margin-right: 10px;
            }
        }
    }


    // store content is in another file


    // Footer links
    #store-footer-links {
        padding: 40px 40px;

        #store-footer-facebook {

        }

        #store-footer-twitter {

        }

        #store-footer-links-container {
            text-align: right;

            > a {
                text-decoration: none;
                font-weight: bold;
                margin: 2px 5px;
                color: $colorGray2;
                font-size: 12px;

                &:hover {
                    color: $colorBlue2;
                }
            }
        }
    }

}
