
// Verify account page
#page-verify-account {


    // Verify account form
    #form-verify-account {
        transition: left 0.2s, opacity 0.2s;

        label {
            text-align: right;
            padding-right: 20px;
        }

        button {
            float: right;
        }

        &.hidden {
            left: 10%;
            opacity: 0;
            pointer-events: none;
        }
    }


    // Verify account success
    #verify-account-success {
        text-align: center;
        transition: left 0.2s, opacity 0.2s;

        button {
            font-size: 12px;
            display: inline-block;
            margin: 10px;

            &:hover {
                color: $colorBlue1;
            }
        }

        &.hidden {
            left: 90%;
            opacity: 0;
            pointer-events: none;
        }
    }
}